.no-products {
  position: absolute;
  font-size: 20px;
  left: 83px;
  top: 50%;
}

.cart-overlay-header {
  height: 375px;
  
}

a {
  color: none;
  text-decoration: none;

}

a:hover {
  text-decoration: none;
}
.overflow {
  overflow-y: auto;
}

::-webkit-scrollbar {
  width: 2px;
}
::-webkit-scrollbar-track {
  background-color: #f1f1f1;
}
::-webkit-scrollbar-thumb {
  background-color: rgb(179, 179, 179);
}